
  <style> @import url('https://fonts.googleapis.com/css?family=Quicksand:600,700,400&display=swap'); </style>
  <style> .gps-509621842399462275 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-509621842399462275 .gp-invisible{visibility:hidden}.gps-509621842399462275 .gp-absolute{position:absolute}.gps-509621842399462275 .gp-relative{position:relative}.gps-509621842399462275 .gp-z-1{z-index:1}.gps-509621842399462275 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-509621842399462275 .gp-mb-0{margin-bottom:0}.gps-509621842399462275 .\!gp-inline{display:inline!important}.gps-509621842399462275 .gp-flex{display:flex}.gps-509621842399462275 .gp-inline-flex{display:inline-flex}.gps-509621842399462275 .gp-grid{display:grid}.gps-509621842399462275 .\!gp-hidden{display:none!important}.gps-509621842399462275 .gp-hidden{display:none}.gps-509621842399462275 .gp-h-5{height:20px}.gps-509621842399462275 .gp-h-full{height:100%}.gps-509621842399462275 .gp-w-5{width:20px}.gps-509621842399462275 .gp-w-full{width:100%}.gps-509621842399462275 .gp-max-w-full{max-width:100%}.gps-509621842399462275 .gp-flex-col{flex-direction:column}.gps-509621842399462275 .gp-items-center{align-items:center}.gps-509621842399462275 .gp-justify-center{justify-content:center}.gps-509621842399462275 .gp-gap-y-0{row-gap:0}.gps-509621842399462275 .gp-overflow-hidden{overflow:hidden}.gps-509621842399462275 .gp-break-words{overflow-wrap:break-word}.gps-509621842399462275 .gp-rounded-none{border-radius:0}.gps-509621842399462275 .gp-no-underline{text-decoration-line:none}.gps-509621842399462275 .gp-opacity-25{opacity:.25}.gps-509621842399462275 .gp-opacity-75{opacity:.75}.gps-509621842399462275 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509621842399462275 .gp-duration-200{transition-duration:.2s}.gps-509621842399462275 .gp-duration-300{transition-duration:.3s}.gps-509621842399462275 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-509621842399462275 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-509621842399462275 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-509621842399462275 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-509621842399462275 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-509621842399462275 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-509621842399462275 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-509621842399462275 .tablet\:\!gp-hidden{display:none!important}.gps-509621842399462275 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-509621842399462275 .mobile\:\!gp-hidden{display:none!important}.gps-509621842399462275 .mobile\:gp-hidden{display:none}}.gps-509621842399462275 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-509621842399462275 .\[\&_p\]\:gp-inline p{display:inline}.gps-509621842399462275 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-509621842399462275 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-509621842399462275 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g8mkmbS20X"
        style="--pt:32px;--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8mkmbS20X gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gN7YwWfvI2 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g__AzgYeRE"
        style="--mb:var(--g-s-l);--pt:20px;--pl:20px;--pb:20px;--pr:20px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g__AzgYeRE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gsblFGdjX- gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gNDxg1t46a"
        style="--pt:24px;--pl:40px;--pb:24px;--pr:40px;--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url({{ "509522729821537453-f98ad2db-2823-463a-bf1a-2354c459cb70.png" | file_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNDxg1t46a gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gfcEXS-h0A gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="guB6FFYHnx"
        style="--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:90px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guB6FFYHnx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:1;--o-mobile:0"
      class="gwTPQMupGe gp-relative gp-flex gp-flex-col"
    >
      <div
    
    role="presentation"
    class="gp-group/image gyWdnOhTNd"
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none;--op:100%;--animation:[object Object];--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        
  {%- liquid
    assign mediaIndex = 1
    if forloop
      assign mediaIndex = forloop.index
    endif
    assign isFetchPriorityHigh = 'false'
    if section.index == 1 and 'false' == 'true' and mediaIndex == 1
      assign isFetchPriorityHigh = 'true'
    endif
  -%}
  {%- if isFetchPriorityHigh == 'true' -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex"
      src="{{ "509522729821537453-d617041f-bf83-4fad-b1a5-6a935940477f.png" | file_url }}" srcset="{{ '509522729821537453-d617041f-bf83-4fad-b1a5-6a935940477f.png' | file_img_url: '768x768' }} 768w, {{ '509522729821537453-d617041f-bf83-4fad-b1a5-6a935940477f.png' | file_img_url: '1024x1024' }} 1024w, {{ '509522729821537453-d617041f-bf83-4fad-b1a5-6a935940477f.png' | file_img_url: 'master' }} 1440w" width="868" height="739" alt="Alt image"
      fetchpriority="high"
      sizes="100vw"
      style="--aspect:868/739;--aspect-tablet:868/739;--aspect-mobile:868/739;--objf:cover;--h:550px;--h-tablet:550px;--h-mobile:400px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- else -%}
    <img
      quality="70" title
      
      draggable="false"
      class="!gp-inline gp-h-full gp-max-w-full gp-flex gp_lazyload"
      data-src="{{ "509522729821537453-d617041f-bf83-4fad-b1a5-6a935940477f.png" | file_url }}" data-srcset="{{ '509522729821537453-d617041f-bf83-4fad-b1a5-6a935940477f.png' | file_img_url: '768x768' }} 768w, {{ '509522729821537453-d617041f-bf83-4fad-b1a5-6a935940477f.png' | file_img_url: '1024x1024' }} 1024w, {{ '509522729821537453-d617041f-bf83-4fad-b1a5-6a935940477f.png' | file_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="868" height="739" alt="Alt image"
      sizes="100vw"
      style="--aspect:868/739;--aspect-tablet:868/739;--aspect-mobile:868/739;--objf:cover;--h:550px;--h-tablet:550px;--h-mobile:400px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;border-radius:inherit"
    />
  {%- endif -%}
  
      </div>
  </div>
    </div><div
      tag="Col" label="Block" type="component"
      style="--jc:center;--o:0;--o-mobile:1"
      class="gQGmEKqm0G gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g946FKIgI6"
        style="--mb:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g946FKIgI6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gmOH-Uqxg5 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gWVjYxEmm6 "
        style="--ta:left;--pt:60px;--pt-mobile:20px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:72%;--w-tablet:72%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Quicksand, 'Quicksand');--weight:600;--lh:88%;--size:32px;--size-tablet:32px;--size-mobile:32px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>POYCHI MAGICAL FIBER STAIN REMOVER</p></h2>
      </div>
    </div>
    </div>
    </div>
  
    
    <div
      parentTag="Col"
        class="gc4YYFjT_B "
        style="--ta:left;--mb:var(--g-s-l);--pt:80px;--mb-tablet:0px;--pt-tablet:30px;--mb-mobile:0px;--pt-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Quicksand, 'Quicksand');--weight:400;--ls:17px;--lh:40px;--size:12px;--size-tablet:12px;--size-mobile:12px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >READY TO USE</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gWNXLgxhHD "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ff:var(--g-font-Quicksand, 'Quicksand');--weight:600;--lh:130%;--size:32px;--size-tablet:32px;--size-mobile:32px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>SIMPLY ADD WATER TO ACTIVATE THE SOLUTION</p></h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gYkWneccFA "
        style="--ta:left;--mb:var(--g-s-l);--pt:0px;--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>It's ready to use instantly. This versatile solution can be reused multiple times; just follow the same straightforward process. Its portability makes it easy to carry wherever you go.</p></div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gjT7hcdKpB "
        style="--ta:left;--mb:var(--g-s-l);--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object]"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        ><p>Use for; Coffee, Food, Pet Stains, Wine, Blood, Tea, Grease, Cosmetics and many more!</p></div>
      </div>
    </div>
  <gp-button style="">
  <div
    
    style="--d:block;--d-tablet:block;--d-mobile:block;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--ta:left"
    class=""
  >
    <style>
    .gojzW4dpgv.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #C3DFFF;
  
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }

    .gojzW4dpgv:hover::before {
      
      
      border-bottom-left-radius: 999999px;
      border-bottom-right-radius: 999999px;
      border-top-left-radius: 999999px;
      border-top-right-radius: 999999px;
      
    }
  </style>
    <button
      type="button" data-id="gojzW4dpgv" aria-label="Shop Now"
      data-state="idle"
      class="gojzW4dpgv gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-paragraph-1"
      style="--bg:#ffffff;--hvr-bg:#1D52DA;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--hvr-bblr:999999px;--hvr-bbrr:999999px;--hvr-btlr:999999px;--hvr-btrr:999999px;--shadow:none;--c:#121212;--hvr-c:#e2e2e2;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--tt:default"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        Shop Now
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 4",
      "tag": "section",
      "class": "gps-509621842399462275 gps gpsi",
      "settings": [
        {
          "type": "paragraph",
          "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c0f48f-3/apps/bold/app/shopify/edit?pageType=GP_INDEX&editorId=509595109499601795&sectionId=509621842399462275)"
        }
      ],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
