{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'
%}

<section 
    id="two-column-images-{{ section.id }}" 
    class="two-column-images {{ section.settings.bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 mb-6 mb-lg-0">
                <img
                    class="img-fluid"
                    src="{{ section.settings.image_one.src }}"
                    alt="{{ section.settings.image_one.alt }}"
                    loading="lazy">
            </div>
            <div class="col-12 col-lg-6 mb-6 mb-lg-0">
                <img
                    class="img-fluid"
                    src="{{ section.settings.image_two.src }}"
                    alt="{{ section.settings.image_two.alt | escape }}"
                    loading="lazy">
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Two Column Images",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "",
            "options": [
                { "group": "Inherit", "value": "", "label": "Body" },
                { "group": "Light", "value": "bg-white text-dark", "label": "White" },
                { "group": "Light", "value": "bg-light text-dark", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-start",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "header",
            "content": "Image One"
        },
        {
            "type": "image_picker",
            "id": "image_one",
            "label": "Image One"
        },
        {
            "type": "header",
            "content": "Image Two"
        },
        {
            "type": "image_picker",
            "id": "image_two",
            "label": "Image Two"
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "Two Column Images",
            "category": "Image"
        }
    ]
}
{% endschema %}