{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'
%}

<section 
    id="two-column-images-{{ section.id }}" 
    class="two-column-images {{ section.settings.bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container">
        <div class="row align-items-center">

            {% for block in section.blocks %}
                {% liquid 
                    case block.settings.img_orientation
                        when 'square'
                            assign img_width  = 600
                            assign img_height = 600
                        when 'landscape'
                            assign img_width  = 600
                            assign img_height = 480
                        when 'potrait'
                            assign img_width  = 480
                            assign img_height = 600
                    endcase
                %}
                <div class="col-12 col-lg-6 mb-6 mb-lg-0">
                        {% unless block.settings.img == blank %}
                            <img
                                class="img-fluid card-img-top"
                                src="{{ block.settings.img.src | image_url: width: img_width, height: img_height, crop: block.settings.img_crop }}"
                                alt="{{ block.settings.img.alt | escape }}"
                                width="{{ img_width }}"
                                height="{{ img_height }}"
                                loading="lazy">
                        {% endunless %}
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Two Column Images",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "",
            "options": [
                { "group": "Inherit", "value": "", "label": "Body" },
                { "group": "Light", "value": "bg-white text-dark", "label": "White" },
                { "group": "Light", "value": "bg-light text-dark", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "item",
            "name": "Item",
            "settings": [
                {
                    "type": "header",
                    "content": "General"
                },
                {
                    "type": "header",
                    "content": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "img_orientation",
                    "label": "Image orientation",
                    "default": "landscape",
                    "options": [
                        { "value": "square", "label": "Square" },
                        { "value": "landscape", "label": "Landscape" },
                        { "value": "potrait", "label": "Potrait" }
                    ]
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Two Column Images",
            "category": "Image"
        }
    ]
}
{% endschema %}